html {
    font-size: 18px;
    line-height: 1.5;
    font-family: monospace;
    font-family: 'Anonymous Pro', monospace;
}

html,body {
    overflow-x: hidden;
}

.container {
    max-width: 900px;
    margin: auto;
    width: 95%;
    font-size: 16px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.big-title {
	/*font-family: 'Rubik Mono One', sans-serif;*/
	font-size: 3.5rem;
	margin-top: 0;
	line-height: 1;
    /*text-transform: uppercase;*/
    font-family: 'Anonymous Pro', monospace;
}
.main-title {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Anonymous Pro', monospace;
}

.title {
    font-size: 1.75rem;
    margin-top: 1.5em;
    line-height: 1.5;
    font-family: monospace;
    font-family: 'Anonymous Pro', monospace;
}

.important {
    position: relative;
    font-size: 1.05rem;
   
}

.important:after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: -1%;
    height: 7px;
    
    background-color: darkorange;
    opacity: 0.3;
    transition: 0.3s;
    width: 102%;
    z-index: -1;
}

.new_code {
    display: inline-block;
     font-size: 1rem;
    min-width: calc(100% + 20px);
    padding: 3px 0;
    margin-left: -13px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    background-color: rgba(255,255,255, 0.07);
    border-left: 3px solid rgba(255,255,255, 0.8);

}

.code {
    font-size: 1rem;
}

.text {
    font-size: 1.05rem;
    line-height: 1.7;
    letter-spacing: 0.4px;
    text-align: justify;   
    font-family: 'Anonymous Pro', monospace;
}

.tasks {
    list-style-type: none;
}

.task {
    font-size: 1rem;
}

.mt {
    margin-top: 30px;
}

.num {
    display: inline-block;
    margin-right: 5px;
    font-size: 2rem;
    font-weight: bold;

}

.task-title {
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 20px;
}

.code, .high {
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
    padding: 3px 6px;
    font-family: monospace;
    font-family: 'Anonymous Pro', monospace;
    color: #fff;
    border-radius: 4px;
    background-color: #2c292d;
    white-space: nowrap;
}

.code {
    display: block;
    overflow: auto;
    padding: 15px 25px;
    line-height: 1.5;

}

.code_text {
    white-space: normal
}

.grey {
    color: #a9a9a9
}

.blue {
    color: #78dce9
}

.green {
    color: #aadc76
}

#down:active,.red {
    color: #ff6189
}

.orange {
    font-style: italic;
    color: #fc9968!important;
}

.purple {
    color: #aa9ef2
}

.code span.yellow {
    color: #ffd865!important;
}

.button {
    height: 56px;
    right: 0;
    text-decoration: none;
    font-family: monospace;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #2c292d;
    padding: 0 25px;
    transition: .3s;
    border: 0;
    cursor: pointer;
    user-select: none;
    outline: 0;
    position: absolute;
    color: #fff;
}

svg {
    width: 32px;
    margin-right: 10px;
    transition: .9s;
}

.link {
	padding: 15px 10px;
	font-size: 26px;
	text-decoration: none;
	position: relative;
	color: #222;
	display: inline-block;
	line-height: 1;transition: 0.3s;

}

.link-box {
	margin: 15px 0;
}

.link:after{
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 15px;
	
	background-color: red;
	opacity: 0.3;
	transition: 0.3s;
	width: 100%;
	z-index: -1;
}

.link-box:nth-child(2) .link:after {
	background-color: #aadc76;
}
.link-box:nth-child(3) .link:after {
	background-color: #ff6189;
}
.link-box:nth-child(4) .link:after {
	background-color: #78dce9;
}
.link-box:nth-child(5) .link:after {
	background-color: #fc9968;
}
.link-box:nth-child(6) .link:after {
	background-color: #a9a9a9;
}
.link-box:nth-child(7) .link:after {
    background-color: aqua;
}
.link-box:nth-child(8) .link:after {
    background-color: darkorange;
}

.link-box:nth-child(9) .link:after {
    background-color: dodgerblue;
}
.link-box:nth-child(10) .link:after {
    background-color: tomato;
}

.link-box:nth-child(11) .link:after {
    background-color: #78dce9;
}

.link-box:nth-child(12) .link:after {
    background-color: #a9a9a9;
}

.link-box:nth-child(13) .link:after {
    background-color: tomato;
}

.link-box:nth-child(14) .link:after {
    background-color: tomato;
}

.box {
	margin-top: 40px;
}

 .link-box .num {
	font-size: 24px;
}

.special { 
    font-size: 1rem;
    padding: 0;
    position: relative;
    padding: 0 10px;
    line-height: 1.7;
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
        line-height: 1.4;
    }
    .main-title {
        line-height: 1.3;
        margin: 2rem 0;
    }
    
    .title { 
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }
    .text {

    }
    .link-box .num {
    	font-size: 30px;
    }
}

@media all and (pointer:fine) {
	.link:hover:after {
		height: 100%;
		opacity: 0.6;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		
	}
	.link:hover {
		transform: translateY(-3px);
	}
    .button:hover {
        background-color: #00658b
    }

    .button:hover svg {
        transform: rotate(360deg)
    }
}

@media all and (max-width:768px) {
    .button {
        position: relative
    }

    h1 {
        width: 100%
    }
    .link {
        font-size: 17px;
    }
   /* .link {
    	font-size: 18px;
		display: block;	
		border: 1px solid #999;
		border-radius: 3px;

    }*/
	.link:after {
		/*height: 100%;*/
		/*opacity: 0.9;*/
		/*background-color: transparent!important;*/
        padding: 10px;  
        height: 40%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
		bottom: 0px;
	}

	.link:hover:after {
		box-shadow: none;
	}

    .special {
        border: none; display: inline-block;
        padding: 10px;
    }

    .special:after {
        background-color: #ff6189!important;
        height: 50%;
       

    }
    .code {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-title {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .task-title {
        margin-top: 0;
    }
}

@media all and (max-width:480px) {
    #down {
        bottom: 5vmin
    }

    #down img {
        width: 32px
    }

}
