@keyframes blink {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

body,html {
    font-family: 'Rubik',sans-serif;
    height: 100%;
    margin: 0
}

#header:after,#header:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ''
}

#header:before {
    background-image: url(img/py.jpg);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1
}

#header:after {
    z-index: 0;
    background-color: rgba(44,41,45,.5)
}

#header {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    -ms-align-items: center;
    align-items: center
}

#text {
    font-size: 12vmin;
    font-weight: 700;
    width: 80%;
    margin: auto;
    z-index: 1;
    user-select: none;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 0 #000
}

#down,.button {
    position: absolute;
    color: #fff
}

.button {
    height: 56px;
    right: 0;
    text-decoration: none;
    font-family: monospace;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #2c292d;
    padding: 0 25px;
    transition: .3s;
    border: 0;
    cursor: pointer;
    user-select: none;
    outline: 0
}

svg {
    width: 32px;
    margin-right: 10px;
    transition: .9s
}

#text:after {
    padding-left: 2px;
    content: '|';
    animation: blink .7s infinite
}

main {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 50px 0;
    position: relative
}

h1 {
    font-size: 45px;
    line-height: 1.1;
    width: calc(100% - 200px);
    margin-top: 0;
    letter-spacing: .5px
}

.code,.text {
    line-height: 1.5
}

.button,.text,code {
    font-size: 18px
}

code {
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
    padding: 3px 6px;
    color: #fff;
    border-radius: 4px;
    background-color: #2c292d
}

.code {
    display: block;
    overflow: auto;
    padding: 10px 20px;
    white-space: nowrap
}

.code_text {
    white-space: normal
}

.grey {
    color: #a9a9a9
}

.yellow {
    color: #ffd865
}

.blue {
    color: #78dce9
}

.green {
    color: #aadc76
}

#down:active,.red {
    color: #ff6189
}

.orange {
    font-style: italic;
    color: #fc9968
}

.purple {
    color: #aa9ef2
}

#down {
    font-size: 8vmin;
    font-weight: 700;
    z-index: 1;
    bottom: 1vmin;
    padding: 15px 20px 0;
    cursor: pointer;
    user-select: none;
    transition: .4s;
    border: 0;
    outline: 0;
    background-color: transparent
}

#down img {
    width: 50px
}

.subtitle {
    font-size: 1.9em;
    line-height: 1.2;
    margin-top: 1.5em;
    margin-bottom: 0
}

.subtitle code {
    font-size: .9em;
    font-weight: 700
}

.link {
    font-family: monospace;
    font-size: 18px;
    display: block;
    margin: 10px 0;
    transition: .3s;
    transform: translateZ(0);
    text-decoration: none;
    border: 4px solid;
    border-radius: 4px;
    background-color: #2c292d
}

.multiline {
    white-space: pre-wrap
}

.left {
    right: auto;
    left: 0
}

.non-abs {
    position: relative;
    margin-bottom: 25px
}

.none {
    display: none
}

@media all and (pointer:fine) {
    .link:hover {
        transform: scale(1.048)
    }

    .button:hover {
        background-color: #00658b
    }

    .button:hover svg {
        transform: rotate(360deg)
    }
}

@media all and (max-width:768px) {
    .button {
        position: relative
    }

    h1 {
        width: 100%
    }

    #text {
        font-size: 9vmin
    }
}

@media all and (max-width:480px) {
    #down {
        bottom: 5vmin
    }

    #down img {
        width: 32px
    }
}



html {
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	line-height: 1.75;
}
html,body {
	overflow-x: hidden;
}
.container {
	max-width: 800px;
	margin: auto;
	width: 95%;
	font-size: 18px;
}
.main-title {
	font-size: 3rem;
	margin: 1rem 0 ;
}
.title {
	font-size: 2.5rem;
	margin: 0.5rem 0 ;
}
.code {
	font-size: 0.9rem;
}
.text {
	font-size: 1rem;
}
.tasks {
	list-style-type: none;
}
.task {
	font-size: 1rem;
}
.mt {
	margin-top: 30px;
}
.num {
	display: inline-block;
	margin-right: 5px;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1;
}
.code, .high {
line-height: 1;
display: inline-block;
margin-right: 4px;
padding: 3px 6px;
font-family: monospace;
color: #fff;
border-radius: 4px;
background-color: #2c292d
}



.code {
display: block;
overflow: auto;
padding: 10px 20px;
/*white-space: nowrap*/
line-height: 1.5;
}
.code_text {
white-space: normal
}
.grey {
color: #a9a9a9
}

.blue {
color: #78dce9
}
.green {
color: #aadc76
}
#down:active,.red {
color: #ff6189
}
.orange {
font-style: italic;
color: #fc9968!important;
}
.purple {
color: #aa9ef2
}
.code span.yellow {
color: #ffd865!important;
}
@media (max-width: 768px) {
	html {
		font-size: 15px;
		line-height: 1.4;
		
	}
	.text {
		text-align: justify;
	}
}